@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
/* Intro */
.intro {
  width: 100%;
  height: 100vh;

  background: url("../images/intro_01.jpg") center no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

}
.intro__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 114px;
  font-weight: 700;
  line-height: 1;
}
.intro__title:after {
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 70px auto;
}
.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro__suptitle {
  
  font-size: 54px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 15px;
}

/* Header */

.header {
  padding-top: 30px;
  width: 100%;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
/* Nav */
.nav {
font-size: 14px;
text-transform: uppercase;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .1s linear;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link:hover:after {
  display: block;
  opacity: 1;
}
/* Button */
.btn {
  border: solid #fff 3px;
  padding: 12px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .3s linear, color .1s linear;
}
.btn:hover {
  background-color: #fff;
  color: black;
}
/* Slider */
.slider {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.slider__inner
{
  display: flex;
  justify-content: space-between;

  color: #fff;
}
.slider__item {
  width: 24%;
 padding: 20px 0;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  border-top: 3px solid #fff;

  opacity: 0.7;
  
}
.slider__num {
  font-size: 24px;
  font-weight: 700;
}
.active {
  opacity: 1;
}
.active::before {
  content:"";
  display: block;
  position: absolute;
  height: 3px;
  width: 70px;
  background-color: #f38181;
  position: absolute;
  top: 0px;
}

/* Section */
.section {
  padding: 80px 0;
  text-align: center;
}
.section--device {
  background: url(../images/design/background.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 0;
}
.section--gray {
  background-color: #f8f8f8;
}
.section--img {
  background: url(../images/what_people_say/background.jpg) center no-repeat;
  background-size: cover;
}
.section--map {
  background: url(../images/map/background.jpg) center no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
}
.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
}
.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;

  margin-bottom: 25px;
}
.section__title {
  font-size: 30px;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 40px auto 60px;
}
.section__text {
  color: #acacac;
  font-size: 15px;
}
/* Card */
.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.card__item {
  width: 380px;
  transition: opacity .2s linear;
  /* margin-bottom: 120px; */
}
.card__inner {
  background-color: #95e1d3;
  position: relative;
}
.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0)
}
.card__item:hover .card__img img {
  opacity: .1;
}
.card__item:hover .card__text {
  opacity: 1;
}
.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);

  transition: transform .1s linear;
 
}
.card__img img {
  display: block;
  transition: opacity .3s linear;
}
.card__text {
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity .2s linear;
}
.card__name {
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.card__prof {
  padding-top: 20px;
  color: #999;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

/* Statistics */
.statistics {
  background-color: #95e1d3;
}
.stat {
  display: flex;
}
.stat__item {
  flex: 1 1 0;

  border-left: 1px solid #b5eae0;

  text-align: center;

  color: #fff;
  padding: 70px 25px;
}
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  font-size: 72px;
  text-transform: uppercase;
}
.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}
/* Service */
.service {
  display: grid;
  grid-template-rows:repeat(2, 1fr);
  
}
.serv__group1{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 90px;
  padding-bottom: 45px;
  border-bottom: 1px solid #e5e5e5;
}
.serv__group2{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 90px;
  margin-top: 45px;
}
.serv__item {
  display: flex;

}

.serv__info{
  text-align: left;
  direction: row;
}
.serv__img {
  margin-right: 25px;

}
.serv__title{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.serv__text {
  color:  #acacac;
}
/* Disign */ 
.design__device {
  text-align: center;
  position: relative;
  min-height: 620px;
}
.ipad {
  position: absolute;
  right: 350px;
 
}
.iphone {
  position: absolute;
  top: 240px;
  right: -72px
}
/* We do */
.wedo {
  display: flex;
}
.wedo__item {
  flex: 1 1 0;
}
/* Accordion */
.accordion__item {
  border: 1px solid #e5e5e5;
  text-align: left;
  margin-bottom: 10px;
}
.accordion__header {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  padding: 15px 20px 15px 65px;
  cursor: pointer;
}
.accordion__arrow {
  position: absolute;
  top: 20px;
  right: 20px;

}
.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}
.accordion__content {
  padding: 15px 20px;

  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}
.accordion__title {
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}
/* Reviews */
.reviews {
  padding: 0 110px;
  position: relative;
}
.reviews__item {
  padding-left: 205px;
  text-align: left;
  position: relative;
}
.reviews__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  border: 3px solid #95e1d3;
}
.reviews__icon--Earle {
 border: none;
 position: absolute;
  top: -85px;
  left: -65px;
}
.reviews__text {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
  margin-bottom: 15px;
}
.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  
}
.reviews__author:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  vertical-align: middle;
  margin-right: 10px;
}
.reviews__btn--prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  left: -75px;
}
.reviews__btn--next {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  right: -75px;
}
/* Social */
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 55px;
  height: 55px;
  padding: 12px 10px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;

  font-size: 30px;
  text-decoration: none;
  color: #f38181;
  line-height: 1;

  transition: color .1s linear;
  transition: background-color .1s linear;
}
.social__item:last-child {
  border-right: none;
}
.social__item:hover {
  background-color: #f38181;
  color: #fff;
  transition: color .1s linear;
  transition: background-color .1s linear;
}
/* Grid */
.grid__container {
  margin: 0 auto;
}
.grid {
  display: flex;
  justify-items: stretch;
margin-top: 100px;
}
.grid__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.grid__item:hover .grid__img {
  opacity: .1;

}
.grid__item:hover .grid__info {
  opacity: 1;
}
.grid__img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity .2s linear;
  
}
.grid__info {
  opacity: 0;
  transition: opacity .2s linear;

  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(0, -50%, 0);
 
  color: #fff;

  font-family: Montserrat;
}
.grid__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.grid__text {
  
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}
.grid__icon {
  margin-bottom: 20px;
}
/* Human */
.human {
  margin-top: 80px;
  display: flex;
}
.human__col {
  text-align: left;
}
.human__col:last-child {
  margin-left: 80px;
}
.human__item:first-child {
  margin-bottom: 80px;
}
.human__img {
  float: left;
  margin-right: 30px;
  clear: both;
}
.human__name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;

  margin-bottom: 10px;
}
.human__prof {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #646464;
}
.human__prof:after {
  display:block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 20px 0px 20px 140px;
  
}
.human__text {
  font-size: 15px;
  color: #999999;
  margin-left: 140px;
}
/* Blog */
.blog {
  display: flex;
}
.blog__item {
  margin-right: 35px;
  position: relative;

}
.blog__item:last-child {
  margin-right: 0;
}

.blog__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;

  margin-bottom: 20px;
  margin-top: 20px;

  text-align: left;
}
.blog__text {
  font-size: 15px;
  color: #999999;
  text-align: left;

  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog__time {
position: absolute;
top: 160px;
left: -10px;

height: 70px;
width: 60px;

background-color: #95e1d3;

line-height: 1;
}
.blog__date {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;

  color: #fff;

  margin-top: 10px;
}
.blog__mou {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;

  color: #fff;
}


.blog__icon {
  text-align: left;
}
.blog__eye {
  display: inline-block;
}
.blog__commit {
  display: inline-block;
}
.view {
  display: inline-block;
}
.views {
  display: inline-block;
}
.coment {
  display: inline-block;
}
.coments {
  display: inline-block;
}
/* Map */
.map {
  padding-top: 60px;
}
.map__icon {
  padding-bottom: 10px;
}
.map__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;

  color: #f38181;
  text-transform: uppercase;

  
}
.map__title:after {
  display: block;
  content: "";
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 20px auto 0px;
}

/* End */
.end {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
  /* Followers */
  .followers {
    width: 40%;
    text-align: left;
    margin-right: 30px;
  }
  .followers__title {
    font-size: 46px;
    font-weight: 700;

    margin-bottom: 45px;

    color: #cccccc;
  }
  .followers__text {
    font-size: 15px;

    line-height: 2;

    margin-bottom: 55px;

    color: #ababab;
  }
  .num__figure {
    display: inline-block;

    font-size: 18px;
    font-weight: 700;
  }
  .num__text {
    display: inline-block;

    font-size: 14px;
    font-weight: 700;
  }
  .followers__num:after {
    content: "";
    display: block;
    background-color: #e5e5e5;
    width: auto;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .icon__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #cccccc;

    display: inline-block;

    margin-right: 25px;
  }
  .icon__item {
    display: inline-block;
    
    color: #95e1d3;
    font-size: 20px;

    margin-right: 20px;
  }
  .followers__email {
    margin-top: 40px;
    width: 380px;
    
    border: solid 1px #e7e7e7;
    position: relative;
  }
  .followers__enter {
    display: inline-block;
    padding: 20px 140px 15px 15px;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #d9d9d9;
  }
  .followers__button {
    position: absolute;
    top: 0px;
    right: 0;

    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 18px;
    
    width: 150px;
    height: 53.75px;

    background-color: #95e1d3;
  }
  /* Blogs */
  .blogs {
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .blogs__main {
    font-size: 14px;
    text-transform: uppercase;
    color: #585858;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .blogs__img {
    float: left;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  .blogs__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #333333;

    line-height: 2;

    margin-bottom: 12px;
  }
  .blogs__text {
    font-weight: 300;
    font-size: 13px;
    color: #bdbdbd;
    font-style: italic;
  }
  /* Instagram */
  .instagram {
    width: 40%;
    text-align: left;
  }
  .instagram__main {
    font-size: 14px;
    text-transform: uppercase;
    color: #585858;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .instagram__text {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    color: #969696;
  }
/* Footer */
.footer {
  text-align: center;
  border-top: #e5e5e5 solid 1px;
  padding: 25px 0;
}
.footer__text {
  display: inline-block;
  font-size: 14px;
}
.footer--red {
  display: inline-block;
  font-size: 14px;
  color: #f38181;
}
  

